/*
 *     Typora Theme - Maize    /    Author - BEATREE
 *     https://github.com/BEATREE/typora-maize-theme
 */

:root {
    --bg-color: #fafafa;
    --text-color: #333333;
    --primary-color: #428bca;
}
#md2mp {
    line-height: 1.75;
    font-size: 16px;
}
#md2mp p {
    margin: 1em 0;
}
#md2mp h1,
#md2mp h2,
#md2mp h3,
#md2mp h4,
#md2mp h5,
#md2mp h6 {
    margin: 1.2em 0 1em;
    padding: 0px;
    font-weight: bold;
}
#md2mp h1 {
    font-size: 1.5em;
}
#md2mp h2::before {
    content: "";
    width: 20px;
    height: 30px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIj4KICAgIDxnPgogICAgICAgIDxwYXRoIGQ9Im0zMy40NTIgNjIuMTQyUzY2LjA2MyAxNC45MzcgOTAuNDU2IDEwLjI4M2wxLjQyOSAxLjcxNFM3Mi41MzIgMjkuNTgyIDU4LjEzMyA0OC41ODNDNDMuMDg0IDY4LjQ0MiAzNi4wNTggODkuOTQ3IDMxLjg4IDg5LjcxNWMtNS42ODEtLjQxLTEyLjQyOS0zNy43MTYtMjMuMjg3LTMzLjI4Ny0yLjI4Ni0uNTcxIDMuOTEyLTkuNjE0IDEyLjU3Mi03LjU3MiA1LjQzIDEuMjgxIDEyLjI4NyAxMy4yODYgMTIuMjg3IDEzLjI4NnoiIGZpbGw9IiNmZmIxMWIiIC8+CiAgICA8L2c+Cjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-right: 4px;
    background-position-y: 10px;
}
#md2mp h2 {
    font-size: 1.3em;
    display: flex;
    align-items: top;
}
#md2mp h2 span {
    font-weight: bold;
    color: #333;
    padding: 3px 10px 1px;
}
#md2mp h3 {
    font-size: 1.3em;
}
#md2mp h4 {
    font-size: 1.2em;
}
#md2mp h5 {
    font-size: 1.2em;
}
#md2mp h6 {
    font-size: 1.2em;
}
#md2mp ul,
#md2mp ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 40px;
    color: black;
}
#md2mp ul {
    list-style-type: disc;
}
#md2mp ul ul {
    list-style-type: square;
}
#md2mp ol {
    list-style-type: decimal;
}
#md2mp strong {
    color: #e49123;
    font-weight: bold;
}
#md2mp blockquote {
    margin: 0;
    padding: 10px 10px 10px 20px;
    font-size: 0.9em;
    background: #fff9f9;
    border-left: 3px solid #ffb11b;
    color: #6a737d;
    overflow: auto;
}
#md2mp a {
    word-wrap: break-word;
    text-decoration: none;
    font-weight: bold;
    color: #e49123;
    border-bottom: 1px solid #e49123;
}
#md2mp hr {
    height: 1px;
    padding: 0;
    border: none;
    text-align: center;
    background-image: linear-gradient(to right, rgba(231, 93, 109, 0.3), rgba(255, 159, 150, 0.75), rgba(255, 216, 181, 0.3));
}
#md2mp p code,
#md2mp span code,
#md2mp li code {
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    word-break: break-all;
    color: rgb(235, 76, 55);
    background-color: #f0f0f0;
    font-size: .8em;
}
#md2mp img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 4px 12px #84a1a8;
    border: 0px;
}
#md2mp table {
    border-collapse: collapse;
    border: 1px solid rgb(255, 216, 181);
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    display: table;
    word-wrap: break-word;
    word-break: break-all;
}
#md2mp table td,
#md2mp table th {
    font-size: 0.75em;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    border: 1px solid rgb(255, 216, 181);
    vertical-align: top;
}
#md2mp table th {
    font-weight: bold;
    color: #ffb11b;
    background: #fff9f9;
}
#md2mp table tr:nth-child(2n) {
    background: #fff9f9;
}
#md2mp pre {
    border-radius: 5px;
    line-height: 2;
    margin: 1em 0.5em;
    padding: .5em;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 5px;
    font-size: 12px;
}
#md2mp pre code {
    display: block;
    overflow-x: auto;
    margin: .5em;
    padding: 0;
}
#md2mp .footnote {
    font-weight: bold;
    color: #e49123;
}
#md2mp #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
#md2mp .footnote-num {
    display: inline;
    width: 10%;
}
#md2mp .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
