/*
 *     Typora Theme - Orange Heart    /    Author - evgo2017
 *     https://github.com/evgo2017/typora-theme-orange-heart
 */

#md2mp {
    line-height: 1.75;
    font-size: 16px;
}
#md2mp p {
    margin: 1em 0;
}
#md2mp h1,
#md2mp h2,
#md2mp h3,
#md2mp h4,
#md2mp h5,
#md2mp h6 {
    margin: 1.2em 0 1em;
    padding: 0px;
    font-weight: bold;
}
#md2mp h1 {
    font-size: 1.5em;
}
#md2mp h2 {
    font-size: 1.3em;
    border-bottom: 2px solid rgb(239, 112, 96);
    display: flex;
}
#md2mp h2 span {
    display: inline-block;
    font-weight: bold;
    background: rgb(239, 112, 96);
    color: #ffffff;
    padding: 3px 10px 1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 3px;
}
#md2mp h2::after {
    content: "";
    border-bottom: 36px solid #efebe9;
    border-right: 20px solid transparent;
    align-self: flex-end;
    height: 0;
}
#md2mp h3 {
    font-size: 1.3em;
}
#md2mp h4 {
    font-size: 1.2em;
}
#md2mp h5 {
    font-size: 1.1em;
}
#md2mp h6 {
    font-size: 1em;
}
#md2mp ul,
#md2mp ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 25px;
    color: black;
}
#md2mp ul {
    list-style-type: disc;
}
#md2mp ul ul {
    list-style-type: square;
}
#md2mp ol {
    list-style-type: decimal;
}
#md2mp blockquote {
    margin: 0;
    display: block;
    font-size: 0.9em;
    overflow: auto;
    border-left: 3px solid rgb(239, 112, 96);
    color: #6a737d;
    padding: 10px 10px 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fff9f9;
}
#md2mp a {
    text-decoration: none;
    word-wrap: break-word;
    font-weight: bold;
    color: rgb(239, 112, 96);
    border-bottom: 1px solid rgb(239, 112, 96);
}
#md2mp p code,
#md2mp li code {
    font-size: 0.9em;
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    color: rgb(239, 112, 96);
    background-color: rgba(27, 31, 35, 0.05);
    word-break: break-all;
}
#md2mp img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#md2mp span img {
    max-width: 100%;
    display: inline-block;
    border-right: 0px;
    border-left: 0px;
}
#md2mp table {
    border-collapse: collapse;
    border: 1px solid rgb(239, 112, 96);
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    display: table;
    word-wrap: break-word;
    word-break: break-all;
}
#md2mp table td,
#md2mp table th {
    font-size: 0.75em;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    border: 1px solid rgb(239, 112, 96);
    vertical-align: top;
}
#md2mp table th {
    font-weight: bold;
    background-color: #fff9f9;
    color: rgb(239, 112, 96);
}
#md2mp span code,
#md2mp li code {
    color: rgb(239, 112, 96);
}
#md2mp pre {
    border-radius: 5px;
    line-height: 2;
    margin: 1em 0.5em;
    padding: .5em;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 5px;
    font-size: 12px;
}
#md2mp pre code {
    display: block;
    margin: .5em;
    padding: 0;
}
#md2mp .footnote {
    color: rgb(239, 112, 96);
}
#md2mp #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
#md2mp .footnote-num {
    display: inline;
    width: 10%;
}
#md2mp .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
