/*
 *     Typora Theme - Purple    /    Author - hliu202
 *     https://github.com/hliu202/typora-purple-theme
 */

:root {
    --title-color: #8064a9;
    --text-color: #444444;
    --link-color: #2aa899;
    --code-color: #745fb5;
    --shadow-color: #eee;
    --border-quote: rgba(116, 95, 181, 0.2);
    --border: #e7e7e7;
    --link-bottom: #bbb;
    --shadow: 3px 3px 10px var(--shadow-color);
    --inline-code-bg: #f4f2f9;
    --header-weight: normal;
}
#md2mp {
    color: var(--text-color);
    line-height: 1.75;
    font-size: 16px;
}
#md2mp a {
    word-wrap: break-word;
    border-bottom: 1px solid var(--link-bottom);
    color: var(--link-color);
    text-decoration: none;
}
#md2mp h1,
#md2mp h2,
#md2mp h3,
#md2mp h4,
#md2mp h5,
#md2mp h6 {
    margin: 1.2em 0 1em;
    padding: 0px;
    font-weight: var(--header-weight);
    color: var(--title-color);
}
#md2mp h1 {
    text-align: center;
}
#md2mp h1::after {
    content: "";
    display: block;
    margin: 0.2em auto 0;
    width: 6em;
    height: 2px;
    border-bottom: 2px solid var(--title-color);
}
#md2mp h2 {
    padding-left: 0.4em;
    border-left: 0.4em solid var(--title-color);
    border-bottom: 1px solid var(--title-color);
}
#md2mp h1 {
    font-size: 1.5em;
}
#md2mp h2 {
    font-size: 1.3em;
}
#md2mp h3 {
    font-size: 1.2em;
}
#md2mp h4 {
    font-size: 1.2em;
}
#md2mp h5 {
    font-size: 1.2em;
}
#md2mp h6 {
    font-size: 1.2em;
}
#md2mp p,
#md2mp ul,
#md2mp ol {
    margin: 1em 0.8em;
}
#md2mp hr {
    margin: 1.5em auto;
    border-top: 1px solid var(--border);
}
#md2mp li > ol,
#md2mp li > ul {
    margin: 0 0;
}
#md2mp ul,
#md2mp ol {
    padding-left: 2em;
}
#md2mp ol li,
#md2mp ul li {
    padding-left: 0.1em;
}
#md2mp blockquote {
    margin: 0;
    border-left: 0.3em solid rgba(116, 95, 181, 0.2);
    padding-left: 1em;
    background-color: #f4f2f9;
}
#md2mp table {
    border-collapse: collapse;
    border: 1px solid rgba(116, 95, 181, 0.2);
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    display: table;
    word-wrap: break-word;
    word-break: break-all;
}
#md2mp table td,
#md2mp table th {
    font-size: 0.75em;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    border: 1px solid rgba(116, 95, 181, 0.2);
    vertical-align: top;
}
#md2mp table th {
    font-weight: bold;
    color: #8064a9;
    background-color: #f4f2f9;
}
#md2mp strong {
    padding: 0 2px;
    font-weight: bold;
}
#md2mp p code {
    padding: 2px 4px;
    border-radius: 0.3em;
    font-size: 0.9em;
    color: #745fb5;
    background-color: #f4f2f9;
    margin: 0 2px;
}
#md2mp img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#md2mp pre {
    border-radius: 5px;
    line-height: 2;
    margin: 1em 0.5em;
    padding: .5em;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 5px;
    font-size: 12px;
}
#md2mp pre code {
    display: block;
    overflow-x: auto;
    margin: .5em;
    padding: 0;
}
#md2mp .footnote {
    color: var(--code-color);
    background-color: var(--inline-code-bg);
}
#md2mp #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
#md2mp .footnote-num {
    display: inline;
    width: 10%;
}
#md2mp .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
